services:
  postgres:
    image: postgres:16
    container_name: postgres_database
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: FlowDock
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: redis_server
    restart: always
    ports:
      - "6379:6379"

  auth_service:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: auth_service
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
      POSTGRES_DB: auth_db
      POSTGRES_HOST: postgres
      POSTGRES_PORT: 5432
      JWT_SECRET: "secret"
      JWT_ALGORITHM: "HS256"
      REDIS_HOST: redis
      REDIS_PORT: 6379
    depends_on:
      - postgres
      - redis
    ports:
      - "8000:8000"

volumes:
  pgdata:
